@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:  rgb(52, 51, 40);
}

*{
    margin: 0;
    padding: 0;
}

.home:hover{
    cursor: pointer;
    color: green;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
    border-radius: 20px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: 1400px;
    background-repeat: repeat;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 54px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    height: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 320px) {
           body{
            background-color: rgb(149, 131, 106);
           }
           .songInfo{
            padding-left: 50px;
            margin: 5px;
            bottom: 0;
           }
    }

    @media only screen and (max-width: 480px) {
        body{
            background-color: rgb(76, 47, 39);
           }
           .songInfo{
            padding-left: 50px;
            margin: 5px;
            bottom: 0;
           }
      }

      @media only screen and (min-width: 481px) and (max-width: 767px) {
        body{
            background-color: rgb(52, 54, 99);
           }
           .songInfo{
            padding-left: 100px;
            margin: 2px;
            bottom: 0;
           }
      }

      @media (min-width: 768px) and (max-width: 1104px) {
         body{
            background-color: rgb(79, 22, 60);
         }
        
      }

      @media (min-width: 1104px) {
        body{
         background-color: rgb(52, 51, 40) ;
        }
      }
      
      
      
      @media (max-width: 767px) {
        .songItem {
            height: auto;               
            flex-direction: column;     
            padding: 12px;              
            text-align: center;         
            border-radius: 34px;           
        }
        
        .songItem .timestamp {
            margin-top: 8px;            
        }
    }




   
